
/*标准Button*/
.input_btn{
    height:30px; 
    line-height:30px; 
    *line-height:26px;
    vertical-align:middle; 
    padding: 0 20px; 
    display:inline-block; 
    border:1px solid #e7e8e8; 
    text-align:center;
    font-family:"microsoft yahei"; 
    font-size:16px;    
    cursor:pointer;
    margin: 0;
    overflow: visible;
    *width: 0;
    width: auto;
    text-transform: uppercase;
    color:#0079d2;
    background:#fafbfc; 
    border:1px solid #0079d2;
    vertical-align:middle;
    overflow-y:hidden;
    -webkit-appearance: none;
    blr:expression(this.onFocus=this.blur())
    
}
a.input_btn{height:28px; line-height:28px; text-decoration:none;}
.input_btn:hover{background-color:#0079d2; border-color:#0079d2; color:#fff; text-decoration:none;}
.btn_light, .btn_light:hover, .btn_light:active{color:#999999; border:1px solid #e7e8e8; background:#fafbfc; }
.btn_blue{border:none; background:#0079d2; color:#ffffff; padding:0 21px; _padding: 0 22px;}
.btn_blue:hover{background-color:#006dbd;}
body .btn_gray{background-color:white;border: 1px solid #0079d2;color: #0079d2}
body .btn_gray:hover{background-color:white;border: 1px solid #0079d2;color: #0079d2}
.btn_orange{background-color:#f36245;color:#fff;font-size:14px;border:none;margin:0 auto;outline:0}
.btn_orange:hover,.btn_orange:active{background-color:#ff2500;color:#fff;}
.btn_boldOrange{border:none; background:#f9a31a; color:#ffffff; padding:0 21px; _padding: 0 22px;}
.btn_boldOrange:hover{background-color:#f89d0d;}
a.btn_blue{height:30px; line-height:30px;}
.btn_normal{width:120px;}
a.btn_normal,a:visited.btn_normal{width:78px;}
input:disabled{cursor:not-allowed}
/*特殊BUTTON*/


.m-financeList .input_btn{width:200px; padding:0px;}



/*伸缩表格*/
.detail_tr_div{padding:20px;background-color:#f9f9f9}
.detail_tr_tips{text-align:left;line-height:20px}
.flex_td{width:36px;}
.flex_a:hover{text-decoration:none;}
.flex_plus{background:transparent url("../images/flex_plus.png") no-repeat -1px 0px;  display:block; width:36px; height:40px; overflow:hidden;cursor: pointer;}
.flex_minus{background:transparent url("../images/flex_plus.png") no-repeat -1px -42px;  display:block; width:36px; height:40px; cursor: pointer;}
.detail_tr{display:none;}
/*==== form ====*/
.m-row,.m-page{*zoom:1;}.m-row:after,.m-page:after{content:"\200B"; display:block; height:0; clear:both;overflow:hidden; visibility:hidden; }
.m-row .m-rowLabel{width:110px;text-align:right;color:#414141;margin-right: 5px;height:34px;line-height:34px;}
.m-row .m-drop,.m-row .m-textFocus{height:34px; line-height:34px;}
.m-row-mini .m-rowLabel,.m-row-mini .m-textFocus,.m-row-mini .m-drop{height:24px; line-height:24px;}
.m-row-mini .m-rowLabel{line-height:24px;}
.m-rowTextarea{border:1px solid #ccc;background-color:#fff;}
.m-row .m-holderBox input{line-height:34px;}
.m-row.m-row-mini .m-holderBox input{line-height:24px;}
/*==== tab ====*/
.m-tab{width:100%;border-left:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;border-right:1px solid #e9e9e9; background:#fff;}
.m-tabT{height:47px;}
.m-tabT a.m-tabTA,
.m-tabT a.m-tabTA:visited{border-right:1px solid #dedede; display:block;height:47px;line-height:47px;width:190px;color:#676767;text-align:center;font-size:14px;float:left;text-decoration:none;margin-bottom: -1px;margin-left: -1px;_position:relative;} /*_position:relative解决ie负margin不显示问题*/
.m-tabT a.m-tabTActive,
.m-tabT a:visited.m-tabTActive{height:45px;background-color:#fff;color:#0198df;font-weight:bold;border-left:1px solid #e9e9e9;border-right:1px solid #e9e9e9;border-top:2px solid #0098e1;border-bottom:1px solid #fff;}
.m-tabT{*zoom:1;background-color:#fcfcfc;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;}
.m-tabT:after{content:"\200B"; display:block; height:0; clear:both;overflow:hidden; visibility:hidden; }

/*tab-r*/
.m-tab-r .m-tabT{padding-left: 32px;}
.m-tab-r .m-tabT strong{font-weight:normal;font-size:14px;line-height:45px;color:#666;display:block;}
.m-tab-r .m-tabT strong .icontit{margin-top:10px;}
.m-tab-r .m-tabT strong a,
.m-tab-r .m-tabT strong a:visited{color:#666;font-size:14px;text-decoration:none;}
.m-tab-r .m-tabT a.m-tabTA,
.m-tab-r .m-tabT a.m-tabTA:visited{float:right;}
.m-tab-r .m-tabT a.m-tabTA,
.m-tab-r .m-tabT a.m-tabTA:visited{margin-right: -1px;}

/*tab-w*/
.m-tab-w .m-tabT{position:relative;}
.m-tab-w .m-tabT a.m-tabTA,
.m-tab-w .m-tabT a.m-tabTA:visited{width:33%;}
.m-tab-w .m-tabT a.m-tabTAr,
.m-tab-w .m-tabT a.m-tabTAr:visited{width:34%;margin-right:-1px;position:absolute;right:0;}

/*m-tab2*/
.m-tab2 .m-tabT{background-color:#fff;height:37px;padding-left: 4px;border-top:0;}
.m-tab2 .m-tabT a.m-tabTA,
.m-tab2 .m-tabT a.m-tabTA:visited{display:block;height:37px;line-height:37px;width:138px;color:#696969;background-color:#e5e6e7;text-align:center;font-size:14px;text-decoration:none;font-weight:bold;margin-right: 4px;}
.m-tab2 .m-tabT a.m-tabTActive,
.m-tab2 .m-tabT a:visited.m-tabTActive{background-color:#0098e1;color:#fff;border:0;}
.m-tab2.m-tab-r{border:1px solid #dfdfdf; background:#fff; margin-bottom:10px;}
.m-tab2.m-tab-r .m-tabT strong{line-height:37px;margin-top: -5px;}
.m-tab2.m-tab-r .m-tabT{background-color:#fafcfb;padding-top: 8px;padding-left: 17px;}

/*==== holder ====*/
/*position*/
.m-holderBox{position:relative;}
.m-holderTxt{position:absolute;z-index:2;}
/**/
.m-holderTxt{top:0;left:12px;color:#9b9b9b;cursor:text; line-height:34px;}
.m-row-mini .m-holderTxt{line-height:24px;}
.m-holderBox{background-color:#fff;}
.m-holderInput{background-color:none;border:0;width:100%;text-indent:12px;}

/*==== drop ====*/
/*position*/
.m-drop{position:relative;}
.m-dropList{position:absolute;}
/*z-index*/
/*float*/
.m-dropInput{float:left;}
.m-dropIcon{float:right;}
/**/
.m-input-normal{height:34px;line-height:34px;}
.m-input-mini{height:24px;line-height:24px;}
.m-drop{border:1px solid #d7d8d8;}
.m-dropInput{border:0;text-indent:12px;color:#aaa;cursor:text;overflow:hidden;}
a.m-dropIcon,a:visited.m-dropIcon{width:33px;border-left:1px solid #d7d8d8;background:url("../images/dropIcon.gif") no-repeat center 50% #fff;display:block;}
a:hover.m-dropIcon,.m-drop a.on,.m-drop a:visited.on{background:url("../images/dropIcon.gif") no-repeat center 50% #f4f4f4;}
.m-dropList{left:-1px;border:1px solid #d7d8d8;background:#fff;display:none;overflow-y:auto;clear:both;
    -webkit-box-shadow: 0px 0px 4px #d7d8d8;
    -moz-box-shadow: 0px 0px 4px #d7d8d8;
    box-shadow: 0px 0px 4px #d7d8d8;
}
.m-dropList li{cursor:pointer;border-bottom:1px solid #d7d8d8;height:38px;line-height:38px;color:#666;background:#fff;text-indent:12px;}
.m-dropList li.active{background:#f4f4f4;text-shadow:0 1px 0 #fff;}

/*==== textFocus ====*/
.m-textFocus{border:1px solid #d7d8d8;text-indent:12px;display:block;}
.m-holderBox .m-input-mini{height:24px;line-height:24px;}
.m-textFocusActive{border:1px solid #4d8fcb;
    -webkit-box-shadow:0 0 2px #4d8fcb;
    -moz-box-shadow:0 0 2px #4d8fcb;
    box-shadow:0 0 2px #4d8fcb;}
.m-textFocus-error{border:1px solid #eb5439;
    -webkit-box-shadow:0 0 2px #eb5439;
    -moz-box-shadow:0 0 2px #eb5439;
    box-shadow:0 0 2px #eb5439;}

/*==== checkbox====*/
a.m-checkbox,a:visited.m-checkbox, a.m-checkbox2,a:visited.m-checkbox2{border:1px solid #c8c9ca;width:14px;height:14px;background-color:#fff;cursor:pointer;display:inline-block;*zoom:1;*display:inline;}
a:hover.m-checkbox, a:hover.m-checkbox2{border:1px solid #007ab4;}
.m-checkboxChecked{background-image:url("../images/icon/checkbox.png");background-repeat:no-repeat;}
.m-checkboxDisabled{background-image:url("../images/icon/checkbox.png");background-repeat:no-repeat;background-position:0 -14px;}
.m-checkboxunDisabled{border:1px solid #c8c9ca;width:14px;height:14px;background-color:#fff;display:inline-block;*zoom:1;*display:inline;}
a:hover.m-checkbox.m-checkboxDisabled, a:hover.m-checkbox2.m-checkboxDisabled{border:1px solid #c8c9ca;cursor:default;}

/*==== radio ====*/
a.m-radio,a:visited.m-radio{vertical-align:middle; background-image:url("../images/icon/radio.png");_background-image:url("../images/icon/radio.gif");background-repeat:no-repeat;display:block;width:14px;height:15px;display:inline-block;*zoom:1;*display:inline;}
a:hover.m-radio{background-position:0 -16px;}
a.m-radioChecked,a:visited.m-radioChecked{background-position:0 -32px;}
a.m-radio2{ padding:0 10px;}
a.m-radio2.m-radioChecked,a:visited.m-radio2.m-radioChecked{color:#fff; background-color:#0098E1; }
.m-raidoDisabled{vertical-align:middle; background-image:url("../images/icon/radio.png");_background-image:url("../images/icon/radio.gif");background-repeat:no-repeat;display:block;width:14px;height:15px;display:inline-block;*zoom:1;*display:inline;}
a:hover.m-radioChecked{background-position:0 -48px;}
/*==== page ====*/
.m_pages_box{margin:20px 0;}
a.m-pageUp,
a:visited.m-pageUp,
a.m-pageDown,
a:visited.m-pageDown,
a.m-pageNum,
a:visited.m-pageNum,
a.m-pageTurn,
a:visited.m-pageTurn,
a.m-pageHellip,
a:visited.m-pageHellip{border:1px solid #d5d5d5;display:block;float:left;text-decoration:none;color:#3e454c;}
a.m-pageUp,a:visited.m-pageUp,a.m-pageDown,a:visited.m-pageDown{width:48px;height:28px;line-height:28px;padding-left:7px;padding-right:7px;margin-right: 5px;}
.m-page a:hover, .m-page a.on{background-color:#0079d2;color:#fff;border:1px solid #0079d2;text-decoration:none;}
.m-page a span{cursor:pointer}
.m-page a:hover span.icon-l{background:url("../images/icon/icon-lr.png") no-repeat left -16px;}
.m-page a:hover span.icon-r{background:url("../images/icon/icon-lr.png") no-repeat left -24px;}
a.m-pageNum,a:visited.m-pageNum{width:28px;height:28px;line-height:28px;text-align:center;margin-right: 5px; *padding:0 10px;}
.m-page a.m-pageHellip,.m-page a:visited.m-pageHellip{width:28px;height:28px;line-height:28px;text-align:center;border:0;margin-right: 5px;}
.m-page a.m-pageTurn,.m-page a:visited.m-pageTurn{width:30px;height:28px;line-height:28px;border:1px solid #d5d5d5;padding-left: 7px;padding-right:7px;}
.icon-l,.icon-r{margin-top: 12px;}
.m-pageInput{width:45px;height:28px;line-height:30px;border:1px solid #d5d5d5;margin-right: 5px;text-indent:5px;}
.m-page-min a.m-pageNum, a.m-pageNum:visited{}

/*page-min*/
.m-page-min a.m-pageUp,.m-page-min a:visited.m-pageUp,.m-page-min a.m-pageDown,.m-page-min a:visited.m-pageDown{width:22px; height:22px; line-height:22px; padding:0;  margin-left:10px;}
.m-page-min .icon-l,.m-page-min .icon-r{margin:8px auto;}
.m-page-min a.m-pageNum,.m-page-min a:visited.m-pageNum{border:0; height:24px; line-height:24px;}
.m-page-min a:hover.m-pageNum,.m-page-min a:hover.m-pageHellip{background:none;color:#0079d2;font-weight:bold;}
.m-page-min .m-pageInput{height:22px; _height:23px; line-height:22px; width:50px;}

.m-page.m-page-min a.m-pageTurn, .m-page.m-page-min a.m-pageTurn:visited{height:22px; line-height:22px;} 

.pageTxt{height:28px;line-height:28px;}
.m-page .m-drop,.m-page .pageTxt{margin-right: 10px;}
.m-page .m-input-mini{height:28px;}
.m-page .m-drop{width:70px;}
.m-page .r .pageTxt,.m-page .r .m-input-mini{margin-right: 10px;}
.m-page .r a.m-pageDown,.m-page .r a:visited.m-pageDown{margin-right: 10px;}
a.pageBtn,a:visited.pageBtn{width:54px;border:1px solid #d5d5d5;background-color:#fff;color:#666;text-align:center;height:28px;line-height:28px;display:block;}
.m-page a.pageBtn,.m-page a:visited.pageBtn{}
.outerPage{margin:20px 0}
/*==== chooseBox ====*/
.m-chooseBox{margin-bottom: 25px;}
.m-chooseBox .m-rowLabel{font-weight:bold;color:#666;display:block;height:28px;line-height:28px;}
.m-chooseBox .m-labelClick{margin-right: 32px;height:28px;line-height:28px;font-family:'微软雅黑'}
.m-chooseBox .m-labelClick a,.m-chooseBox .m-labelClick a:visited,.m-chooseBox .m-labelClick span{float:left;}
.m-chooseBox .m-labelClick a,.m-chooseBox .m-labelClick a:visited{margin-right: 8px;margin-top: 6px;}
.m-chooseBox .m-labelClick a.m-radio2, .m-chooseBox .m-labelClick a.m-radio2:visited{margin:0px;}
.m-chooseBox .m-labelClick span{color:#666;}
.m-chooseBox .m-spaceline{margin-right: 8px; display:inline-block; height:30px; line-height:30px;}
.time_chooseBox.m-chooseBox .m-textFocus{width:104px; height:28px;margin-right: 8px;}

.m-chooseBoxBg{background-color:#f6f6f6;padding:10px 48px;}
.m-chooseBoxBg .m-rowLabel{height:34px;line-height:34px;color:#414141;}
.m-chooseBoxBg .m-drop{background-color:#fff;}


/*Wdate*/
.Wdate{color:#666;}

/*==== 提示框 ====*/
/* 提示框 */
.tips{padding:7px 12px;border:1px solid transparent;margin-bottom:20px;}
.tips-info{color:#909090;border-color:#feb652;background-color:#fff8db;}
.tips-error{color:#b71f07;border-color:#b71f07;background-color:#fde1dd;}
.tips-warning{color:#ff5a00;border-color:#feb652;background-color:#fff8db;line-height:20px;}
.number{color:#b71f07;}
.icon-error{background-position:-26px -56px;width:20px;height:20px;display:inline-block;vertical-align:middle;margin-right:5px;}
.completed{background-position:0 -55px;width:26px;height:27px;display:inline-block;vertical-align:middle;margin-left:30px;}
.tooltips .tips{margin-bottom:0;}
/*form表单错误提示样式*/
.m-row-error{text-indent: 120px;color: #f00;margin-bottom:0px;height:10px;}

/*无搜索内容样式*/
.empty_search{background:transparent url("../images/empty_search.jpg") no-repeat top center; width:475px; height:150px; padding:117px 0 0 485px; font-size:18px; font-family:"microsoft yahei"; margin:15px auto; }
.empty_transferin{background:transparent url("../images/empty_transferin.jpg") no-repeat top center; width:475px; height:164px; padding:117px 0 0 485px; font-size:18px; font-family:"microsoft yahei"; margin:15px auto; }








/*404跳转页面*/
.jump_box{border: 1px solid #DFDFDF;height: auto;margin: 10px auto;padding: 20px;width: 1000px;}
.jump_img{background:url(../images/tiaoz_img.gif) no-repeat 0 0;width:109px;height:102px;margin:0 50px 0 145px;display:inline;}
.jump_img_two{ background-position:0 -170px;}
.jump_con{background:url(../images/icon/dotline.gif) repeat-x 0 bottom;overflow:hidden;padding:30px 0px;margin:0 40px;}
.jump_con h3{font-size:24px;font-family:\5FAE\8F6F\96C5\9ED1,'Microsoft YaHei',SimHei,SimSun;color:#f88b19;padding-bottom:30px;}
.jump_con p{line-height:24px;}
.jump_nav{text-align:center;margin:20px 0 50px 0;color:#0098E0;}
.jump_nav a{padding:0 10px;}
.customer_service{padding:20px 0 40px 342px;}
.customer_service p{padding-top:20px;height:30px;}
.customer_service strong{padding:0 50px 0 0;color:#16406a;font-family:Arial;font-size:18px;font-weight:normal;float:left;}
.customer_service .photo_icon,.customer_service .mail_icon{margin-top:3px;padding-right:8px;display:block;width:22px;height:22px;background:url(../images/icon_tiaoz.gif) no-repeat 0 0;}
.customer_service .mail_icon{ background-position:0 -44px;}
.jump_con_left{width:470px;}
.jump_con_left .customer_service{padding:20px 0 40px 42px}
.jump_con_left .jump_nav{text-align:left;padding:0 0 0 32px;}
.jump_con_left .jump_con{margin:0 0 0 40px;}
.jump_bigimg{padding-left:80px;}
.mobile_services_con .bind_h3{margin-bottom:56px;}
.mobile_services_con .bind_h3 h3{font-size:12px;color:#414141;padding:5px 0 0 0;}
.mobile_services_con .bind_h3 p{border:1px solid #fcb651;background:#fff7db;padding:5px 10px;color:#aaa;}
.mobile_photo_con .m-row{margin-bottom:26px;}
.mobile_services_con .mobile_photo_con .pt_get{margin-right:15px;}
.mobile_services_con .mobile_photo_con .no_cost{padding: 0 0 0 25px;}

/*header新手引导浮动层*/
.guide{position:relative;height:36px;_height:30px;display:block; z-index:999;}
.guideMenu{position:absolute;top:34px;z-index:8;display:none;border-bottom:1px solid #dbdbdb;}
.guideLink{text-align:center;display:block;width:70px;cursor:pointer;}
.guideMenu li a,.guideMenu li a:visited{display:block;padding:0 6px;background-color:#f7f9fc;color:#909090;border:1px solid #dbdbdb;_border-bottom:0;width:62px;}
.guideMenu li a:hover{background-color:#0079d2;border:1px solid #0079d2;color:#fff;text-decoration:none;}
.header_login .guideMenu li{float:none; margin-bottom: -1px;_margin-bottom:0;}
.guideMenu li a.guideMenuIcon,.guideMenu li a:visited.guideMenuIcon,.guideMenu li a:hover.guideMenuIcon{}
.guideIcon{position:absolute;z-index:10;display:none;width:9px;height:5px;overflow:hidden;top:30px;left:50%;margin-left:-4px;background-image:url("../images/guide.gif");background-repeat:no-repeat;background-position:0 0;}

/*新增侧边栏*/
* html,* html body{background-image:url(about:blank);background-attachment:fixed;width:100%;}
.asideBg{background:#fff;opacity:.7;width:40px;position:fixed;top:0;right:0;height:100%;z-index:100;filter:alpha(opacity=70);-moz-opacity:.7;-khtml-opacity: 0.5;}
.aside{width:40px;position:fixed;top:0;right:0;height:100%;z-index:100;}
.aside,.asideBg{
 _position:absolute; _height:expression(window.screen.availHeight-130);
_left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0));
_top:expression(eval(document.documentElement.scrollTop));
_overflow-y:auto;
_overflow:hidden;
}
/*IE6侧边栏*/


/** html .aside{*//*
.aside .top a,.aside .bottom a{display:block;background:url(../images/aside/aside_icons.png) no-repeat transparent;width:40px;padding-left:40px;color:#fff;font-weight:bold;text-align:center;height:33px;margin-bottom:2px;text-decoration:none;font-family:"microsoft yahei";padding-top:7px;line-height:14px;}
.aside .top a:hover,.aside .bottom a:hover{background-color:#2886e0;padding-left:0;background-image:none;}
.aside .top{top:30%;position:absolute;}
.aside .bottom{top:70%;position:absolute;}
.aside .top .suggestion{background-position:0 -40px}
*//*.aside .top .downloadApp{background-position:0 -80px}*//*
.aside .top .downloadApp{background:url("../images/mobile_icons.gif") no-repeat scroll 8px 0 rgba(0, 0, 0, 0);}
.aside .bottom .qrCode{background-position:0 -120px;}
.aside .bottom .qrCode:hover{background:url(../images/aside/aside_icons.png) no-repeat 0 -200px #2886e0}
.aside .bottom .goTop{background-position:0 -160px}
.qrCode-tips{background:url(../images/aside/qrcode.png) no-repeat;width:164px;height:188px;position:absolute;top:70%;right:40px;}
.aside .top a.on,.aside .bottom a.on{background-color:#2886e0;padding-left:0;background-image:none;}
.aside .bottom .qrCode.on{background:url(../images/aside/aside_icons.png) no-repeat 0 -200px #2886e0}*/
/*意见反馈弹框*/
.luo_mGBox{width:510px;margin:20px auto;}
.formBox label{width:60px;line-height:30px;}

i.iconNew{background:url("../images/invite/iconNew.png") no-repeat;display:inline-block;width:22px;height:9px; margin-left: 40px;}
i.iconHot{background:url("../images/invite/iconHot.png") no-repeat;display:inline-block;width:22px;height:9px; margin-left: 40px;}

.leadBox{background:url("../images/invite/leadBg.png") repeat;width:100%;height:100%;position:absolute;z-index:1000;}

a.leadBoxClose,a:visited.leadBoxClose{background:url("../images/invite/leadClose.png") no-repeat;width:42px;height:42px;display:block;float:right;margin-top:54px; margin-right: 20px;}

/* citylinkage */
.m-row .city-select{float:left;}
.city-select{position:relative;}
.city-select .citylinkage{float:none;}
.city-select-warp{position:absolute;left:0;border:1px solid #ccc;border-top:0;width:300px;display:none;background-color:#fff;}
.city-select-tab{border-bottom:1px solid #ccc;}
.city-select-tab li{float:left;width:30%;text-align:center;height:40px;line-height:40px;border-right:1px solid #ccc;background-color:#eee;margin-bottom: -1px;border-bottom:1px solid #ccc;color:#696969;cursor:pointer;}
.city-select-tab li.active{border-bottom:1px solid #fff;background-color:#fff;}
.city-select-content{padding:10px;}
.city-select-content a{display:block;padding:0 10px;margin-right: 2px;white-space:nowrap;display:inline-block;*zoom:1;*display:inline;text-decoration:none;color:#696969;text-align:center;line-height:2;}
.city-select-content a.active{background-color:#f60;color:#fff;border-radius:2px;}
.citylinkage{float:left;border:1px solid #ccc;width:300px;height:24px;line-height:24px;cursor:pointer;text-indent:5px;color:#696969;background:url("../images/linkageicon.png") no-repeat right 50%;}
.citylinkage span{color:#cfcfcf;margin-left: 5px;margin-right: 5px;}
.time_yzm{background:#d7d7d7;padding:0 10px;display:block;color:#fff;height:35px;line-height:35px;}

/* spinner */
.increase,.decrease{float:left;width:40px;height:40px;font-weight:bold;line-height:40px;border:1px solid #f36245;background-color:#f36245;color:#fff;text-align:center;font-size:24px;cursor:pointer;outline:0;}
.increase:hover,.decrease:hover,.increase:active,.decrease:active{background-color:#ff2500;outline:0;text-decoration:none;}
.m-spinner{height:38px;border:none;border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;text-align:center;color:#414141;font-size:24px;}
.increase[disabled],.increase:disabled,.decrease[disabled],.decrease:disabled{background-color:#eaeaea;border:1px solid #eaeaea;cursor:not-allowed;color:#aaa}
a.disabled,a.disabled:hover{background-color:#eaeaea;border:1px solid #eaeaea;cursor:not-allowed;color:#aaa}

/*left menu*/
.left-menu i.moreLetter{margin-left:10px;}
.Elite #s_confirm_btn{float: left !important;border: 1px solid #bab5b5 !important;}